@font-face {
    font-family: KdamThmorPro;
    src: url('/font/KdamThmorPro-Regular.ttf');
}
body, h1, h2, p, div, ul {
    font-family: KdamThmorPro, sans-serif;
    background-color: #363636;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
}

.container {
    display: flex;
    max-width: 660px;
    margin: 0 auto;
    flex-direction: column;
}

.container * {
    display: block;
}

h1 {
    color: #ffffff;
    border-bottom: 1px solid #cccccc;
    padding: 1em;
    font-size: 24px;
}

h2 {
    padding: 1em;
    color: #fff;
    font-size: 20px;
}

#controls {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 2em;
    flex-wrap: wrap;
}

input[type='text'] {
    font-family: KdamThmorPro, sans-serif;
    font-size: 16px;
    width: 268px;
    background-color: #494949;
    color: #fff;
    border: none;
    outline: none;
    padding: 0.5em;
}

.container-button button {
    width: 100%;
    padding: 0.5em;
    background-color: #494949;
    font-size: 16px;
    color: #fff;
    border: none;
    outline: none;
    cursor: pointer;
    font-family: KdamThmorPro, sans-serif;
    transition: all 0.3s ease;
}

.container-button:not(:disabled) button:hover {
    background-color: #cccccc;
}

.container-input, .container-button {
    width: 100%;
}

.container-inputs, .container-buttons {
    width: 600px;
    display: flex;
    gap: 2em;
    justify-content: space-around;
}

button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}

.audio-container {
    display: none;
    align-items: center;
}

.username {
    font-weight: bold;
    color: #FFF;
}

ul {
    list-style: none;
    padding: 0;
}
.mic-activity {
    width: 20px;
    height: 20px;
    background-color: #fff;
    border-radius: 50%;
    transition: transform 0.1s ease-in-out, background-color 0.1s ease-in-out;
    margin-left: 10px;
}

#userList {
    display: flex;
    gap: 1em;
    flex-wrap: wrap;
}

#userList li {
    display: flex;
    flex-direction: column;
    color:#fff;
    width: 150px;
    gap: 2em;
    padding: 0.3em;
    position: relative;
    margin: 1em;
    border-radius: 5px;
}

input[type='range'] {
    width: 100%;
}

.mic-indicator {
    position: absolute;
    inset: 0;
    border-radius: 5px;
}

.muted {
    color: gray; /* Цвет текста для замученного пользователя */
    text-decoration: line-through; /* Перечеркнутый текст для визуального эффекта */
}
#roomList li div{
    padding: 0.5em;
    font-size: 16px;
    color: #fff;
}

#roomList li button{
    padding: 0.5em;
    background-color: #494949;
    font-size: 16px;
    color: #fff;
    border: none;
    outline: none;
    cursor: pointer;
    font-family: KdamThmorPro, sans-serif;
    transition: all 0.3s ease;
}

#roomList li {
    display: flex;
    justify-content: space-between;
    border-bottom:1px solid #fff ;
}
.hide {
    display: none;
}